@charset "utf-8";
.App {
  max-width: 360px;
  margin: 50px auto;
  background-color: nth($blue, 1);
  padding: 10px 10px;
  box-sizing: border-box;
  .contMember {
    @include flex($a: center);
    img {
      width: 50px;
      height: 50px;
      background-color: nth($blue, 4);
      border-radius: 50%;
    }
  }
  main {
    margin-top: 20px;
    nav {
      margin-bottom: 15px;
      ul {
        @include flex($a: center, $j: flex-start);
        li {
          margin-right: 10px;
          background-color: nth($blue, 2);
          padding: 5px 10px;
          border-radius: 10px;
        }
      }
      &.navRoom {
        font-size: 18px;
        li {
          background-color: nth($blue, 3);
        }
      }
    }
  }
}
