@charset "utf-8";

.DataLIst {
  margin: 5px 0;
  background-color: white;
  border-radius: 5px;
  li {
    padding: 5px;
    @include flex($a: center);
    .informationCont {
      @include flex($a: center, $j: flex-start);
      img {
        width: 40px;
        margin-right: 10px;
      }
      h3 {
        font-family: $tfont;
      }
      dl {
        @include flex($a: center, $j: flex-start);
        dt {
          margin-right: 5px;
          &::after {
            content: ":";
            margin-left: 5px;
          }
        }
      }
    }
    .addItemBtn {
      padding: 20px 10px;
      background-color: nth($blue, 3);
      white-space: nowrap;
      color: white;
      border-radius: 10px;
    }
  }
}
