@charset "utf-8";

@import "reset";

@font-face {
  font-family: "HancomUljuBangudae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/HancomUljuBangudae.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Unilab";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/Unilab.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

$tfont: "HancomUljuBangudae";

$black: #011640;
$blue: #bfcdd9, #a3bfd9, #79baf2, #6093bf;

//html 요소의 범위 표시
@mixin line {
  background-color: floralwhite;
  outline: 1px solid red;
}

@mixin flex($a: stretch, $j: space-between, $w: nowrap) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  flex-wrap: $w;
}

.hide {
  display: none;
}

body {
  font-family: "Unilab";
  color: $black;
  background-color: black;
}

@import "app";

//page
@import "bookShelf", "writing";

//component
@import "dataList";
