body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
ol,
li,
button,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th {
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

i,
em,
address {
  font-style: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset {
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

textarea,
input {
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
}

.blind,
hr,
legend {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

q:before,
q:after {
  content: "";
}

@font-face {
  font-family: "HancomUljuBangudae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/HancomUljuBangudae.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Unilab";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205-2@1.0/Unilab.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.hide {
  display: none;
}

body {
  font-family: "Unilab";
  color: #011640;
  background-color: black;
}

.App {
  max-width: 360px;
  margin: 50px auto;
  background-color: #bfcdd9;
  padding: 0 10px 10px;
  box-sizing: border-box;
}
.App .contMember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px double #6093bf;
  padding: 10px 0;
}
.App .contMember img {
  width: 50px;
  height: 50px;
  background-color: #6093bf;
  border-radius: 50%;
}
.App main {
  margin-top: 20px;
}
.App main nav {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.App main nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.App main nav ul li {
  margin-right: 10px;
  background-color: #a3bfd9;
  padding: 5px 10px;
  border-radius: 10px;
}
.App main nav.navRoom {
  font-size: 18px;
}
.App main nav.navRoom li {
  background-color: #79baf2;
}

.Writing p {
  margin-bottom: 5px;
}
.Writing p::after {
  content: ":";
  margin-left: 5px;
}
.Writing input.search {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-family: "HancomUljuBangudae";
  border-radius: 5px;
  border: none;
}

.DataLIst {
  margin: 5px 0;
  background-color: white;
  border-radius: 5px;
}
.DataLIst li {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.DataLIst li img {
  width: 40px;
  margin-right: 10px;
}
.DataLIst li h3 {
  font-family: "HancomUljuBangudae";
}
.DataLIst li dl {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.DataLIst li dl dt {
  margin-right: 5px;
}
.DataLIst li dl dt::after {
  content: ":";
  margin-left: 5px;
}

/*# sourceMappingURL=common.css.map */
